@CHARSET "ISO-8859-1";

body {
	font-family: monaco, monospace;
	background-size: cover;
	background: #133C47;
	color: #fff;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30;
	padding: 70px 10px 10px 10px;
}

input {
	color:#000000
}


.anchor {
	padding-top: 40px;
}

table {
	background-color: #0d2931;
	padding: 0px 0px 0px 0px;
	margin: 5px 5px 5px 5px;
	border-radius: 20px;
}

.Buttons {
	background-color: #133C47;
	color: #FAFAFA;
	padding: 0px 0px 0px 0px;
	width: 50%;
	display: table;
}

.Buttons ol {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.Buttons li {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	float: left;
	width: 50%;
}

.Buttons li:hover {
	background-color: #3333ff;
}

.img-rounded {
	border-radius: 10%;
}

html {
	padding-top: 20
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	font-size: 20px;
}

p {
	padding: 0px 20px 0px 20px
}

a {
	color: #fff
}