@CHARSET "ISO-8859-1";

html {
	background-color: #133c47;
	height: 100%;
	font-family: "Inconsolata", sans-serif;
}

body {
<<<<<<< HEAD
	background-color: #133c47;
	color:#ddd;
	height: 100%;
	width: 80%;
=======
	/* background-color: #133c47; */
	min-height: 800px;
	width: 100%;
>>>>>>> a0d5f1bb68218009ea5d90db303bca69c8892f18
	min-height: 75%;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
/* 	font-family: "Inconsolata", sans-serif; */
	
	
/* 	width:100%; */
	
	/* text-align: center; */
	
	background-color: #D6D6DA;
		font-family: "Lato", sans-serif;
}


/*---------------------------------------------------------------------------*/
footer{


color:#FAFAFA;

}

footer ul {
	list-style: none;
	display: block;
	float: left;
}

footer h3 {
	font-weight: 100;
	margin-bottom: 0;
}

.white {
	color: #FFFFFF;
}

#myFront {
	margin-top: 70px;
}

#subnavbar{
	width:82%;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;	
	background-color:#444;
	border:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 51px;
	min-height:30px;
}

#subnavbar li a{
	padding-top:10px;
	padding-bottom:10px;
}

#ourScreens{
	background: #111;
}

#ourScreens h1{
	text-align: center;
}

.content {
	padding: 0px 5px 10px 5px:
}

#your-img {
	height: auto;
	width: auto;
	max-width: 40%;
	max-height: 40%;
}

.img {
	padding: 10px 50px;
	background-position: center;
	background-size: cover;
	min-height: 75%;
	filter: grayscale(40%);
}

.topimg {
	padding: 10px 50px;
	background-position: center;
	background-size: cover;
	background-image:
		url("http://www.latestfreestuff.co.uk/wp-content/uploads/2014/07/cinema-1024x768.jpg");
	min-height: 75%;
	filter: grayscale(60%);
}

.menu {
	display: none;
}

.outlinetxt {
	text-shadow: 2px 2px #ff0000;
}

.mainbody {
	background-color: #133c47;
	color: #38e4e8;
}

.shadow {
	filter: drop-shadow(1px 2px 2px purple);
}

.mapshadow {
	
}

.btncolor {
	background-color: #000000;
	border-color: #000000;
}

p:first-child {
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
}

.wavy {
	text-decoration: underline wavy blue;
}

.logo {
	
}

h4 {
	text-align: center;
}

#myCarousel {
	height: 60%;
	background-color: #000;
}

.carousel-inner {
	height: 60%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	margin: auto;
	width: 60%;
}

.myWindow {
	height: 80%;
}

<<<<<<< HEAD
.anchor{
	padding-top:100px;
}

.myCarouselCaption {
	background-color: #000;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	-moz-box-shadow: 0px 0px 7px #000000;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

=======


.myCarouselCaption {
	background-color: #000;
	opacity: 1.0;
}

.floating-box2 {
	float: center;
	width: 450px;
	height: 450px;
	margin: 6px;
	border: 3px solid white;
}

.floating-box {
	float: left;
	width: 250px;
	height: 250px;
	margin: 3px;
	border: 3px solid white;
}

.inset {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.media {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #2e3030;
	color: white;
	margin-left: auto;
	margin-right: auto;
>>>>>>> a0d5f1bb68218009ea5d90db303bca69c8892f18
}

@media ( max-width : 1200px) {
	.navbar-header {
		float: none;
	}
	.img-responsive {
		width: 100%;
		height: 100%;
	}
	.navbar-brand {
		max-height: 40px;
		max-width: 200px;
		overflow: visible;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 45px;
	}
	.navbar-left, .navbar-right {
		float: none !important;
		verticle-align: center;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
}

/* Navbar dropdown menu background colour */
.nav.navbar-nav .dropdown-menu {
	background-color: #F6F6F6;
}

/*	Change QA Cinema word logo colour	*/
.navbar-header .navbar-brand {
	font-weight: bold;
	font-size: 200%;
	color: #F6F6F6;
	border-right: 2px solid #F6F6F6;
}

/* Modify scrollover action of navbar buttons */
.nav.navbar-nav li a:hover {
	background: #1C1C1C;
}

/* Modify text on dropdown menu when rollover */
.nav.navbar-nav .open .dropdown-menu li a:hover {
	color: #F6F6F6;
}

/* Modify navbar font */
.nav.navbar-nav li a {
	color: #F6F6F6;
}

/* Modify dropdown menu font */
.nav.navbar-nav .open .dropdown-menu li a {
	color: #1C1C1C;
}

/* Burger menu hover over selection colour */
.nav.navbar-nav li:hover {
	background: #1C1C1C;
}

