@CHARSET "ISO-8859-1";

body {
	font-family: "Lato", sans-serif;
	text-align: center;
	background-color: #D6D6DA;

}

.primary{
	padding-bottom: 30px;
}

.logo {
	padding-top: 20px;
	padding-bottom: 20px;
}
.film {
	text-align: left;

}

.info {
	padding-top: 0px;
	padding-bottom: 0px;
}

.poster {

}

.sypnosis {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.media {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #2e3030;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.floating-box {
	float: left;
	width: 250px;
	height: 250px;
	margin: 3px;
	border: 3px solid white;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.inset {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.after-box {
	clear: left;
}

.container{
	background-color: #D6D6DA;
}
