html {
	text-align: center;
	background: #600010;
	padding-top: 10px;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	font-family: monaco, monospace;
	background: #757575;
	background-size: cover;
	color: #FAFAFA;
}

span {
	font-size: 30px;
}

.panel-body{
	background:#757575;
}

h1 {
	font-size: 70px;
}

hr {
	width: 90%;
	color: #FAFAFA;
}

.ScreenInfo {
	padding: 20px 20px 20px 20px;
	text-align: justify;
	text-justify: inter-word;
	colour:#000000;
}