@CHARSET "ISO-8859-1";

/* Navbar dropdown menu background colour */
.nav.navbar-nav .dropdown-menu { background-color: #F6F6F6; }

/*	Change QA Cinema word logo colour	*/
.navbar-header .navbar-brand { 
	font-weight: bold;
	font-size: 200%;
	color: #F6F6F6; 
	border-right: 2px solid #F6F6F6;
	
}



	
/* Modify scrollover action of navbar buttons */
.nav.navbar-nav li a:hover{ background: #1C1C1C; }

/* Modify text on dropdown menu when rollover */
.nav.navbar-nav .open .dropdown-menu li a:hover{ color: #F6F6F6; }

/* Modify navbar font */
.nav.navbar-nav li a{ color: #F6F6F6; }

/* Modify dropdown menu font */
.nav.navbar-nav .open .dropdown-menu li a{ color:#1C1C1C; }

/*---------------------------------------------------------------------------*/

/* Whole page background colour */
body { background: #999999; }
/*---------------------------------------------------------------------------*/
/* Modify location of submit button */
.submit_button { text-align: center }
/*---------------------------------------------------------------------------*/
/* Change accordion panel body background colour */
.panel-body { background: #1C1C1C; }

/*---------------------------------------------------------------------------*/

/* Change "Register for a new QA Cinema account" */
.header {
	text-align: center;
	font-weight: bold;
	text-decoration:;
}
/*---------------------------------------------------------------------------*/
/* Modify central area where info is displayed */
.pageInfo {
	color: white;
	background: #1C1C1C;
	width: 65%;
	border-top: 20px;
	padding: 20px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}



#Fname, #Lname, #Email, #Bday, #Pay, #Cnum, #Exp, #CVV, #Uname, #Pw1, #Pw2 {
	background-color:#F6F6F6;
	color:#1C1C1C;
}



















