@CHARSET "ISO-8859-1";



/* Navbar dropdown menu background colour */
.nav.navbar-nav .dropdown-menu { background-color: #F6F6F6; }

/*	Change QA Cinema word logo colour	*/
.navbar-header .navbar-brand { 
	font-weight: bold;
	font-size: 200%;
	color: #F6F6F6; 
	border-right: 2px solid #F6F6F6;
}
	
/* Modify scrollover action of navbar buttons */
.nav.navbar-nav li a:hover{ background: #1C1C1C; }

/* Modify text on dropdown menu when rollover */
.nav.navbar-nav .open .dropdown-menu li a:hover{ color: #F6F6F6; }

/* Modify navbar font */
.nav.navbar-nav li a{ color: #F6F6F6; }

/* Modify dropdown menu font */
.nav.navbar-nav .open .dropdown-menu li a{ color:#1C1C1C; }

/* Burger menu hover over selection colour */
.nav.navbar-nav li:hover{ background: #1C1C1C; }


/*---------------------------------------------------------------------------*/








.panel-title{
	font-weight: bold;
}

/*---------------------------------------------------------------------------*/

/* Whole page background colour */
body { 
	
	background-image: url("background.jpg");
	
	/*background: #999999; */
	
	}
/*---------------------------------------------------------------------------*/
/* Modify location of submit button */
.submit_button { text-align: center }
/*---------------------------------------------------------------------------*/
/* Change accordion panel body background colour */
.panel-body { 
	background: #1C1C1C;
	opacity: 1;
}


/*---------------------------------------------------------------------------*/

/* Change "Register for a new QA Cinema account" */
.header {
	text-align: center;
	font-weight: bold;
	text-decoration:;
	padding-bottom: 10px;
}
/*---------------------------------------------------------------------------*/
/* Modify central area where info is displayed */
.pageInfo {
	min-width: 550px;
	color: white;
	background: #1C1C1C;
	width: 65%;
	border-radius:20px;
	border-top: 20px;
	padding: 1px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
	/* opacity of whole box including text and accordion*/
	opacity: 1;
}

.form-control{
	background: #F6F6F6;
	color:#1C1C1C;
	margin-top: 5px;
}


















